@*@page "/setup-company"

<PageTitle>Setup Company</PageTitle>

<MudGrid Justify="Justify.Center">
    <MudItem xs="12" sm="4">
        <MudPaper Class="pa-4">
            <MudForm Model="@model" @bind-IsValid="@success">

                <MudTextField @bind-Value="model.Username"
                              T="string"
                              Label="Email"
                              Required="true"
                              RequiredError="Email is required!"
                              Validation="@(new EmailAddressAttribute() {ErrorMessage = "The email address is invalid"})" />
                <MudTextField @bind-Value="model.Password"
                              T="string"
                              Label="Password"
                              HelperText="Enter Password"
                              InputType="InputType.Password"
                              Required="true"
                              RequiredError="Password is required!" />
                <div class="d-flex align-center justify-space-between mt-6">
                    <MudButton Variant="Variant.Filled"
                               Color="Color.Primary"
                               OnClick="LoginAsAdmin"
                               Class="ml-auto">Login</MudButton>

                </div>
            </MudForm>
        </MudPaper>
    </MudItem>
</MudGrid>

                              
@code {
}*@